@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --accent-color: rgb(205, 102, 81);
  --hover-accent-color: rgb(184, 82, 64);
  --input-border-color: rgb(179, 179, 179);
  --shadow-color: rgba(0, 0, 0, 0.113);
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  gap: 15px;
  background-color: var(--primary-color);
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px var(--shadow-color);
}
form.delete-post .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
form.delete-post .buttons button {
  padding: 6px 12px;
  background-color: var(--primary-color);
  border: 1px solid rgb(162, 36, 36);
  color: rgb(162, 36, 36);
  border-radius: 4px;
}
form.delete-post .buttons button:hover {
  cursor: pointer;
  background-color: rgb(162, 36, 36);
  color: white;
}
form.delete-post .buttons a {
  border-radius: 4px;
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid var(--accent-color);
}
form h2 {
  font-size: 1.8rem;
  font-weight: normal;
}
form .input {
  position: relative;
}
form input {
  padding: 8px 15px;
  width: 300px;
  border-radius: 4px;
  background-color: var(--primary-color);
  border: 1px solid var(--input-border-color);
  color: var(--text-color);
  font-size: 0.8rem;
}
form input.password ~ span {
  position: absolute;
  right: 10px;
  top: 50%;
  translate: 0% -50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
form textarea {
  padding: 8px 15px;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  resize: none;
  background-color: var(--primary-color);
  border: 1px solid var(--input-border-color);
  color: var(--text-color);
  font-size: 0.8rem;
}
form .button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
}
form .button:hover {
  background-color: var(--hover-accent-color);
  cursor: pointer;
}
form p {
  font-size: 0.8rem;
}

.alert {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
.alert-danger {
  background-color: rgb(237, 180, 180);
  color: rgb(124, 28, 28);
}
.alert-success {
  background-color: rgb(190, 237, 180);
  color: rgb(28, 124, 28);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  place-content: center;
}
.wrapper img {
  width: 150px;
  border-radius: 8px;
  border: 2px solid var(--accent-color);
}
.wrapper a {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  padding: 8px 12px;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

nav {
  background-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
  width: 100vw;
  top: 0;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
  align-items: center;
  position: relative;
}
nav a {
  color: white;
  text-decoration: none;
}
nav .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .buttons a {
  background-color: var(--primary-color);
  height: 40px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  border-radius: 4px;
  color: var(--text-color);
}
nav .buttons a:hover {
  color: var(--accent-color);
}
nav button {
  border-radius: 8px;
  width: 40px;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid white;
  background-color: var(--primary-color);
  color: var(--accent-color);
  position: relative;
}
nav button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
nav button img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
}
nav .username {
  display: none;
}
nav .dropdown {
  position: absolute;
  padding: 5px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  right: 20px;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 250ms ease-in-out;
}
nav .dropdown.open {
  top: 95px;
  opacity: 1;
  pointer-events: all;
  transition: 250ms ease-in-out;
}
nav .dropdown::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--accent-color);
  top: -6px;
  right: 20px;
  rotate: 45deg;
  z-index: 0;
}
nav .dropdown ul {
  display: grid;
  gap: 5px;
  list-style-type: none;
}
nav .dropdown ul li a {
  display: flex;
  position: relative;
  gap: 10px;
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
}
nav .dropdown ul li a:hover {
  background-color: var(--hover-accent-color);
}

.home,
section {
  display: grid;
  justify-content: center;
  height: calc(100vh - 80px);
  background-color: var(--primary-color);
}
.home h1,
section h1 {
  font-size: 3rem;
  padding: 20px;
  font-weight: normal;
  color: var(--text-color);
}
.home h1 span,
section h1 span {
  color: var(--accent-color);
}
.home h3,
section h3 {
  padding-inline: 20px;
}
.home .cards,
section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
}
.home .cards .card,
section .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(114, 114, 114);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  gap: 10px;
  position: relative;
}
.home .cards .card .forms,
section .cards .card .forms {
  position: absolute;
  right: -10px;
  top: -10px;
  display: grid;
  gap: 5px;
}
.home .cards .card .forms form,
section .cards .card .forms form {
  margin: 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .cards .card .forms form button,
section .cards .card .forms form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  background-color: var(--primary-color);
}
.home .cards .card .forms form button:hover,
section .cards .card .forms form button:hover {
  border: 1px solid var(--hover-accent-color);
  background-color: var(--primary-color);
  cursor: pointer;
}
.home .cards .card .forms form button:hover span,
section .cards .card .forms form button:hover span {
  color: var(--hover-accent-color);
}
.home .cards .card h2,
section .cards .card h2 {
  color: var(--accent-color);
  font-weight: normal;
}
.home .cards .card pre,
section .cards .card pre {
  word-break: break-all;
}
.home .cards .card .bottom,
section .cards .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .cards .card .bottom b,
section .cards .card .bottom b {
  color: var(--accent-color);
}
.home .cards .card .author,
section .cards .card .author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.home .cards .card .author_pic,
section .cards .card .author_pic {
  width: 35px;
  border-radius: 8px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-block: 20px;
}
.wrapper img {
  display: block;
  max-width: 100%;
}
.wrapper form {
  width: 100%;
}
.wrapper form input {
  width: 100%;
  font-size: 1.3rem;
}
.wrapper form button {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgb(182, 30, 30);
  background-color: transparent;
  color: rgb(182, 30, 30);
}
.wrapper form button:hover {
  background-color: rgb(182, 30, 30);
  color: white;
}
.wrapper .modal-content {
  padding: 10px !important;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  max-width: calc(100vw - 2rem);
}
.wrapper .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.wrapper .modal-content .modal-header button {
  background-color: rgb(239, 239, 239);
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.wrapper .modal-content .modal-body {
  display: flex;
}
.wrapper .modal-content .modal-body .img-container {
  max-width: 1000px;
}
.wrapper .modal-content .modal-body .preview {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-block: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}
.wrapper .modal-content .modal-footer {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.wrapper .modal-content .modal-footer button {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.wrapper .modal-content .modal-footer button.primary {
  background-color: var(--accent-color);
  color: white;
  border: none;
}
.wrapper .modal-content .modal-footer button.primary:hover {
  background-color: var(--hover-accent-color);
}
.wrapper .modal-content .modal-footer button.secondary {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.wrapper .modal-content .modal-footer button.secondary:hover {
  color: var(--hover-accent-color);
  border: 1px solid var(--hover-accent-color);
}

@media (width < 720px) {
  .home,
section {
    place-content: start;
  }
}/*# sourceMappingURL=style.css.map */