@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root {
	--primary-color: rgb(20, 20, 20);
	--text-color: rgb(255, 255, 255);
	--accent-color: rgb(205, 102, 81);
	--hover-accent-color: rgb(184, 82, 64);
	--input-border-color: rgb(179, 179, 179);
	--shadow-color: rgba(7, 7, 7, 0.559);
}
:root {
	--primary-color: rgb(255, 255, 255);
	--text-color: rgb(0, 0, 0);
	--accent-color: rgb(205, 102, 81);
	--hover-accent-color: rgb(184, 82, 64);
	--input-border-color: rgb(179, 179, 179);
	--shadow-color: rgba(0, 0, 0, 0.113);
}
body {
	display: grid;
	place-content: center;
	height: 100vh;
	background-color: var(--primary-color);
	color: var(--text-color);
}
a {
	color: var(--accent-color);
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	gap: 15px;
	background-color: var(--primary-color);
	padding: 25px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px var(--shadow-color);
	h2 {
		font-size: 1.8rem;
		font-weight: normal;
	}
	.input {
		position: relative;
	}
	input {
		padding: 8px 15px;
		width: 300px;
		border-radius: 4px;
		background-color: var(--primary-color);
		border: 1px solid var(--input-border-color);
		color: var(--text-color);
		font-size: 0.8rem;
		&.password {
			& ~ span {
				position: absolute;
				right: 10px;
				top: 50%;
				translate: 0% -50%;
				user-select: none;
				cursor: pointer;
			}
		}
	}
	.button {
		background-color: var(--accent-color);
		color: #fff;
		border: none;
		&:hover {
			background-color: var(--hover-accent-color);
			cursor: pointer;
		}
	}
	p {
		font-size: 0.8rem;
	}
}

.alert {
	width: 100%;
	max-width: 400px;
	padding: 15px;
	border-radius: 8px;
	text-align: center;
	&-danger {
		background-color: rgb(237, 180, 180);
		color: rgb(124, 28, 28);
	}
	&-success {
		background-color: rgb(190, 237, 180);
		color: rgb(28, 124, 28);
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	place-content: center;
	a {
		background-color: var(--primary-color);
		border: 1px solid var(--accent-color);
		border-radius: 8px;
		padding: 8px 12px;
		width: 100px;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
	}
}

nav {
	background-color: var(--accent-color);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
	width: 100vw;
	top: 0;
	height: 80px;
	color: white;
	display: flex;
	justify-content: space-between;
	padding-inline: 20px;
	align-items: center;
	position: relative;
	a {
		color: white;
		text-decoration: none;
	}
	button {
		border-radius: 50%;
		width: 40px;
		text-align: center;
		height: 40px;
		border: none;
		background-color: var(--primary-color);
		color: var(--accent-color);
		&:hover {
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
			cursor: pointer;
		}
	}
	.username {
		display: none;
	}
	.dropdown {
		position: absolute;
		padding: 5px;
		background-color: var(--accent-color);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		right: 15px;
		top: 0;
		opacity: 0;
		pointer-events: none;
		transition: 250ms ease-in-out;
		&.open {
			top: 95px;
			opacity: 1;
			pointer-events: all;
			transition: 250ms ease-in-out;
		}
		&::before {
			position: absolute;
			content: '';
			height: 15px;
			width: 15px;
			background-color: var(--accent-color);
			top: -6px;
			right: 20px;
			rotate: 45deg;
			z-index: 0;
		}
		ul {
			display: grid;
			gap: 5px;
			list-style-type: none;
			li a {
				display: flex;
				position: relative;
				gap: 10px;
				background-color: var(--accent-color);
				padding: 10px;
				border-radius: 4px;
				z-index: 1;
				&:hover {
					background-color: var(--hover-accent-color);
				}
			}
		}
	}
}

.home {
	display: grid;
	place-content: center;
	height: calc(100vh - 80px);
	background-color: var(--primary-color);
	h1 {
		font-size: 3rem;
		font-weight: normal;
		color: var(--text-color);
		span {
			color: var(--accent-color);
		}
	}
}
